@import "vars";

@media(max-width: 1360px) {
    body .ecosystem .block-with-ship .top-container .target-audiences {
        width: 1000px;
        margin: auto;
    }
    body .main-screen .top-sidebar .right-column {
        margin-right: 100px;
    }
}

@media(max-width: 1200px) {
    body {
        .content {
            width: 100%;
            padding: 0 10px;
        }
        .menu-buttons .menu, .menu-buttons .category {
            width: 60px;
            i {
                margin-right: 0;
            }
            &:hover {
                margin-left: 0;
                width: 60px;
            }
        }
        
        .menu-block {
            .menu-wrapper {
                width: 100%;
                max-width: 450px;
                padding: 30px 60px;
                .logo {
                    display: none;
                }
                .main-menu {
                    .top-links {
                        order: 2;
                        margin: 20px 0;
                        .main-top {
                            border: none;
                            ul {
                                flex-direction: column;
                                margin: 20px 0;
                                margin-left: 15px;
                                li {
                                    padding: 5px 0;
                                }
                            }
                        }
                    }
                    .main-links {
                        order: 1;
                        display: flex;
                        flex-wrap: wrap-reverse;
                        .dropdown-links {
                            padding: 0;
                            flex-basis: 100%;
                            border: none;
                            .sub {
                                flex-wrap: wrap;
                                border-top: 1px solid #afb3b4;
                                &:last-child {
                                    border-bottom: 1px solid #afb3b4;
                                }
                                .sub-title {
                                    > a {
                                        flex-basis: calc(100% - 48px);
                                        padding-left: 15px;
                                    }
                                    button {
                                        margin: 0;
                                        height: 48px;
                                        width: 48px;
                                        font-size: 2em;
                                        border-radius: 0;
                                    }
                                }
                                .sub-list li {
                                    padding: 5px 0;
                                }
                            }
                        }
                        .quick-links {
                            padding: 0;
                            padding-bottom: 25px;
                            flex-basis: 100%;
                            form {
                                justify-content: center;
                                #search_main_input {
                                    flex-basis: 50%;
                                }
                            }
                            .popular-links {
                                display: none;
                            }
                        }
                    }
                    .bottom-links {
                        order: 3;
                        flex-direction: column;
                        margin-top: 0;
                        .big-button {
                            width: 100%;
                            margin: 10px 0;
                            height: auto;
                        }
                        a {
                            height: auto;
                            padding: 20px 0;
                        }
                    }
                }
                .category-menu {
                    .categories {
                        flex-direction: column;
                        margin: 0 30px;
                        position: absolute;
                        width: 300px;
                        z-index: 100;
                        button {
                            display: none;
                            &.active {
                                display: block;
                                &::before {
                                    content: "\e904";
                                }
                            }
                            &.show {
                                display: block;
                                border: 1px solid #e6e6e6;
                            }
                            &.active.show {
                                &::before {
                                    content: "\e903";
                                }
                            }
                            &::before {                                
                                font-family: 'icons' !important;
                                font-size: 2em;
                                position: absolute;
                                right: 10px;
                            }
                        }
                    }
                    .category-content-wrapper {
                        margin-top: 100px;
                        .category-content {
                            padding: 0 20px;
                            .left-column {
                                width: 100%;
                                border: none;
                                .menu-ul-wrapper {
                                    width: 100%;
                                    margin-bottom: 30px;
                                    ul {
                                        width: 100%;
                                    }
                                }
                                .bottom-block {
                                    flex-wrap: wrap;
                                    width: 100%;
                                    .content-block {
                                        flex-basis: 320px;
                                        .social {
                                            margin: auto;
                                        }
                                        .contact {
                                            text-align: center;                                    
                                        }
                                    }
                                    .img-block {
                                        height: 324px;
                                        width: 300px;
                                        margin: -10px auto 0;
                                    }
                                }
                            }
                            .right-column {
                                width: 100%;
                                padding: 0;
                                .img {
                                    width: 100%;
                                    height: 180px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main-screen {
            .top-sidebar {
                font-size: 0.95em;
                .left-column span {
                    margin-right: 30px;
                }
                .right-column {
                    margin-right: 60px;
                    .bvi {
                        margin-right: 20px;
                    }
                    .lv {
                        margin-left: 20px;
                    }
                }
            }
            .main-screen-background .logo {
                width: 75%;
            }
        }
        .ecosystem {
            .block-with-ship {
                .top-container .target-audiences {
                    width: calc(100% - 120px);
                    a {
                        font-size: 0.5em;
                        height: 100px;
                        line-height: 20px;
                        &:hover {
                            height: 100px;
                            .ta-pic {
                                height: 80px;
                            }
                        }

                        .ta-pic {
                            height: 80px;
                            background-size: contain;
                        }
                    }
                }
                .bottom-container .department {
                    a {
                        font-size: 0.5em;
                    }
                }
            }
            .link-big-blocks .big-link-wrapper {
                height: 210px;
                .big-link {
                    padding: 20px 10px 10px;
                    .title {
                        font-size: 2em;
                            line-height: 35px;
                    }
                }
            }
        }
        .news {
            .big-new {
                .news-border {
                    height: 250px;
                    width: 60%;
                }
                .news-img {
                    height: 320px;
                    width: 60%;
                }
                div.news-body {
                    width: 50%;
                    height: 200px;
                    .color-background {    
                        margin-left: -10px;
                        margin-top: 10px;
                    }
                    .new-content {
                        padding: 20px 30px;
                        h3.title {
                            font-size: 2em;
                            line-height: 30px;
                            height: auto;
                        }
                        .new-text-wrap {
                            .date {
                                font-size: 0.5em;
                                height: auto;
                                margin: 10px 0 10px;
                            }
                            .text {
                                font-size: 0.6em;
                                line-height: inherit;
                            }                        
                        }
                    }
                }
            }
        }
        .people {
            padding-bottom: 30px;
            .people-wrapper {
                .people-big {
                    position: relative;
                    float: none;
                    width: 100%;
                    height: auto;
                    padding: 50px;

                    h2 {
                        text-align: center;
                        margin: 0;
                        &::after {
                            margin: 30px auto;
                        }
                    }
                    .people-big-wrap {
                        height: 50vw;
                        width: 74vw;
                        margin: 50px auto 0;
                        .people-border {
                            height: calc(50vw - 60px);
                        }
                        .people-big-img {
                            .person-content {
                                padding-top: 50px;
                            }
                        }
                    }
                }
                .people-scroll {
                    display: flex;
                    flex-flow: column wrap;
                    float: none;
                    width: auto;
                    height: 200px;
                    overflow: auto;
                    padding: 0;
                    .people-small { 
                        height: 100px;
                        width: 150px;
                    }
                }
            }
        }
        
        .galery {
            .col {
                float: left;
                width: 25%;
                height: 300px;
                .row {
                    .title {
                        font-size: 2em;
                    }
                    .text {
                        font-size: 1em;
                    }
                }
            }
        }
        
        .contacts {
            .row {
                .col {
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width: 768px) {
body {
    .menu-buttons {
        display: none;
    }
    .mobile-menu {
        display: flex;
        width: 100%;
        position: fixed;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        bottom: 0;
        height: 68px;
        background: #353535;
        z-index: 10;
        .mobile-menu-item {
            padding: 10px;
            flex-basis: 100/6%;
            display: flex;
            justify-content: center;
            align-items: center;
            a, button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background: none;
                border: 1px solid @white;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                i {
                    font-size: 1.7em;
                    color: @white;
                }
            }
            button {
                border: none;
                i {
                    font-size: 3em;
                }
            }
        }
    }
    .menu-block .menu-wrapper {
        overflow: hidden;
        padding: 30px;
        .close-mobile-menu {
            display: block;
            position: absolute;
            background: none;
            border: none;
            right: 25px;
            top: 25px;
            z-index: 10;
            i {
                color: #e6e6e6;            
                font-size: 3em;
            }
        }
        .category-menu {
            padding-top: 70px;
            .categories {
                width: 80%;
                margin: auto;
            }
            .category-content-wrapper .category-content .right-column {
                padding: 30px 0;
                .sidebar-item {
                    margin-top: 30px;
                }
            }
        }
    }
    .main-screen {
        .top-sidebar {
            background: none;
            box-shadow: none;
            font-size: 1.2em;
            .left-column, .lc {
                display: none;
            }
            .right-column {
                float: none;
            }
        }
        .main-screen-background .logo {
            .desktop-logo {
                display: none;
            }
            .mobile-logo {
                display: block;
            }
        }        
        .play-button {
            bottom: 100px;
        }
    }
    .ecosystem .block-with-ship {
        height: 400px;
        .ecosystem-background,
        .sursu-text {
            background-size: contain;
        }        
        .sursu-text {
            background-size: 70%;
            background-position: bottom;
        }
        .ship {
            height: 100%;
            bottom: 0;
        }
        .top-container {
            .content {
                padding: 0;
                overflow: auto;
            }

            div.target-audiences {
                margin: 0;
                width: 500px;
                padding-bottom: 10px;

                a {
                    width: calc(100%/3.5);
                    background: none !important;
                    position: relative;

                    p {
                        position: absolute;
                        bottom: 0;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
        .bottom-container {
            height: auto;
            .departments {
                display: none;
            }
            .mobile-departments {
                display: block;
                display: flex;
                width: 100%;
                flex-direction: row;
                flex-wrap: nowrap;
                padding: 10px 20px;
                list-style: none;
                .sub {
                    text-transform: uppercase;
                    width: 50%;
                    text-align: center;
                    button {
                        border: none;
                    }
                }
                .sub-list {
                    display: none;
                }
            }
        }
    }
}
    section.tour, section.galery {
        display: none;
    }
    body .ecosystem .link-big-blocks .big-link-wrapper {
        width: 100%;
    }
    body .news .smoll-news .new-wrapper {
        width: 100%;
    }
    body .contacts .row {
        width: 50%;
    }
}