@import "vars";

@media(max-width: 1360px) {
    body .ecosystem .block-with-ship .top-container .target-audiences {
        width: 1000px;
        margin: auto;
    }
    body .main-screen .top-sidebar .right-column {
        margin-right: 100px;
    }
}

@media(max-width: 1200px) {
    body {
        .content {
            width: 100%;
            padding: 0 10px;
        }
        .menu-buttons .menu, .menu-buttons .category {
            width: 60px;
            i {
                margin-right: 0;
            }
            &:hover {
                margin-left: 0;
                width: 60px;
            }
        }
        
        .menu-block {
            .menu-wrapper {
                width: 100%;
                max-width: 600px;
                padding: 30px 60px;
                .main-menu {
                    .top-links {
                        order: 2;
                        margin: 20px 0;
                        .main-top {
                            border: none;
                            ul {
                                flex-direction: column;
                                margin: 20px 0;
                                margin-left: 15px;
                                li {
                                    padding: 5px 0;
                                }
                            }
                        }
                    }
                    .main-links {
                        order: 1;
                        display: flex;
                        flex-wrap: wrap-reverse;
                        .dropdown-links {
                            padding: 0;
                            flex-basis: 100%;
                            border: none;
                            .sub {
                                flex-wrap: wrap;
                                border-top: 1px solid #afb3b4;
                                &:last-child {
                                    border-bottom: 1px solid #afb3b4;
                                }
                                > a {
                                    flex-basis: calc(100% - 48px);
                                    padding-left: 15px;
                                }
                                button {
                                    margin: 0;
                                    height: 48px;
                                    width: 48px;
                                    font-size: 2em;
                                    border-radius: 0;
                                }
                                .sub-list li {
                                    padding: 5px 0;
                                }
                            }
                        }
                        .quick-links {
                            padding: 0;
                            padding-bottom: 25px;
                            flex-basis: 100%;
                            form {
                                justify-content: center;
                                #search_main_input {
                                    flex-basis: 50%;
                                }
                            }
                            .popular-links {
                                display: none;
                            }
                        }
                    }
                    .bottom-links {
                        order: 3;
                        flex-direction: column;
                        margin-top: 0;
                        .big-button {
                            width: 100%;
                            margin: 10px 0;
                            height: auto;
                        }
                        a {
                            height: auto;
                            padding: 20px 0;
                        }
                    }
                }
                .category-menu .category-content-wrapper .category-content {
                    .left-column {
                        
                    }
                }
            }
        }
        .main-screen {
            .top-sidebar {
                font-size: 0.95em;
                .right-column {
                    margin-right: 60px;
                }
            }
            .main-screen-background .logo {
                width: 75%;
            }
        }
        .ecosystem {
            .block-with-ship {
                .top-container .target-audiences {
                    width: calc(100% - 120px);
                    a {
                        font-size: 0.5em;
                        height: 100px;
                        line-height: 20px;
                        &:hover {
                            height: 100px;
                            .ta-pic {
                                height: 80px;
                            }
                        }

                        .ta-pic {
                            height: 80px;
                            background-size: contain;
                        }
                    }
                }
                .bottom-container .department {
                    a {
                        font-size: 0.5em;
                    }
                }
            }
            .link-big-blocks .big-link-wrapper {
                height: 210px;
                .big-link {
                    padding: 20px 10px 10px;
                    .title {
                        font-size: 2em;
                            line-height: 35px;
                    }
                }
            }
        }
        .news {
            .big-new {
                .news-border {
                    height: 250px;
                    width: 60%;
                }
                .news-img {
                    height: 320px;
                    width: 60%;
                }
                div.news-body {
                    width: 50%;
                    height: 200px;
                    .color-background {    
                        margin-left: -10px;
                        margin-top: 10px;
                    }
                    .new-content {
                        padding: 20px 30px;
                        h3.title {
                            font-size: 2em;
                            line-height: 30px;
                            height: auto;
                        }
                        .new-text-wrap {
                            .date {
                                font-size: 0.5em;
                                height: auto;
                                margin: 10px 0 10px;
                            }
                            .text {
                                font-size: 0.6em;
                                line-height: inherit;
                            }                        
                        }
                    }
                }
            }
        }
        .people {
            padding-bottom: 30px;
            .people-wrapper {
                .people-big {
                    position: relative;
                    float: none;
                    width: 100%;
                    height: auto;
                    padding: 50px;

                    h2 {
                        text-align: center;
                        margin: 0;
                        &::after {
                            margin: 30px auto;
                        }
                    }
                    .people-big-wrap {
                        height: 50vw;
                        width: 74vw;
                        margin: 50px auto 0;
                        .people-border {
                            height: calc(50vw - 60px);
                        }
                        .people-big-img {
                            .person-content {
                                padding-top: 50px;
                            }
                        }
                    }
                }
                .people-scroll {
                    display: flex;
                    flex-flow: column wrap;
                    float: none;
                    width: auto;
                    height: 200px;
                    overflow: auto;
                    padding: 0;
                    .people-small { 
                        height: 100px;
                        width: 150px;
                    }
                }
            }
        }
        
        .galery {
            .col {
                float: left;
                width: 25%;
                height: 300px;
                .row {
                    .title {
                        font-size: 2em;
                    }
                    .text {
                        font-size: 1em;
                    }
                }
            }
        }
        
        .contacts {
            .row {
                .col {
                    font-size: 14px;
                }
            }
        }
    }
}

